<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.example.demo.mapper.QuestionsMapper">

    <select id="getQuestionsByFormId" resultType="com.example.demo.pojo.Form.Question">
        SELECT * FROM questions WHERE form_id = #{formId}
        ORDER BY sort_order
    </select>

    <select id="getAllQuestions" resultType="com.example.demo.pojo.Form.Question">
        SELECT * FROM questions
        ORDER BY form_id, sort_order
    </select>


    <!-- 动态SQL修改Questions表数据 -->
    <update id="updateQuestionDTO">
        UPDATE questions
        <set>
            <if test="questionText!= null">question_text = #{questionText},</if>
            <if test="sortOrder != null">sort_order = #{sortOrder},</if>
            <if test="isRequired != null">is_required = #{isRequired},</if>
        </set>
        WHERE id = #{id}
    </update>


</mapper>